Title: About
---
<p>My Name is Tarun Pothulapati</p>
<p>I'm currently studying in Vardhaman College Of Engineering with CSE as my Background.</p>
<p>I'm a C#.Net Developer by Heart with special interest in dotnet core,aspnet core. I blog here in my mean time about my experiences. I also like to be updated with the latest happenings in industry.</p>
