Title: About
---
<p>I'm Tarun Pothulapati</p>
<p>I'm currently studying in Vardhaman College Of Engineering with CSE as my Background.</p>
<p>I've always been passionate about technology and it's impact in our life's. I express my idea's in C#.Net for now ;) and my interest in the language internals knows no bounds.</p>