*{
    font-family: 'Fira Sans', sans-serif;
}

.site__title {
    font-size: 2rem;
}

@media (min-width: 765px)
{
    .sidebar{
        padding-top: 20vh;
    }
}


@media (min-width: 992px)
{
    .content{
        max-width: 1200px !important;
    }
}